
{% for account in postfix.accounts %}

{% if (account.aliases is defined) and (account.aliases | length > 0) %}

{% for alias in account.aliases %}
{{ alias }}:	{{ account.name }}
{% endfor %}

{% endif %}
{% endfor %}